**/lab2_add
**/lab2_list
**/functions.sh
**/*.tar.gz
**/.DS_Store
**/.vscode
**/CS111_test.rayguo
lab3a-file-system/fs
lab3a-file-system/fs_test
lab3a-file-system/lab2_list.c
lab3a-file-system/lab3a
lab3a-file-system/trivial*
lab3a-file-system/*.img
lab3a-file-system/*.txt
lab3a-file-system/*.sh
lab3b-file-system/*.csv
lab3b-file-system/CS111*
lab3b-file-system/lab3b
lab4b-sensor-communication/lab4b
lab4b-sensor-communication/log
lab4b-sensor-communication/pipe_test
lab4b-sensor-communication/pipe_test.c
lab4c-IoT-secure_communication/log
lab4c-IoT-secure_communication/CS111_test.debian
lab4c-IoT-secure_communication/pipe_test
lab4c-IoT-secure_communication/pipe_test.c
lab4c-IoT-secure_communication/lab4c_tcp
lab4c-IoT-secure_communication/lab4c_tls